@if (auth.role === "ROLE_ADMINISTRATEUR") {
<button mat-raised-button routerLink="/ajouter-produit" class="add-button">
  Ajouter produit
  <mat-icon
    aria-hidden="false"
    aria-label="Example home icon"
    fontIcon="add"
  ></mat-icon>
</button>
}

<h1>Voici mes {{ produits.length }} motos :</h1>

<div class="produit-container">
  @for (produit of produits; track $index) {
  <div class="produit-card" [class.promotion]="produit.etat.nom === 'Occasion'">
    <div class="test-container">
      <div class="img-container">
        <!-- src="https://picsum.photos/id/{{ produit.id + 425 }}/600/400" -->
        <img
          ImgSecured
          src="http://localhost:8080/produit/image/{{ produit.id }}"
          alt="image aléatoire"
          srcset=""
        />
      </div>
    </div>
    <div class="content-container">
      <div class="first-row">
        <div class="name-container">
          <p class="title">{{ produit.nom }}</p>
          <p class="code">{{ produit.code }}</p>
          <div class="etiquettes-container">
            @for (etiquette of produit.etiquettes; track $index) {
            <span
              class="etiquette-tag"
              [ngStyle]="{ backgroundColor: etiquette.couleur }"
            >
              {{ etiquette.nom }}
            </span>
            }
          </div>
        </div>
        <p class="prix">{{ produit.prix }} €</p>
      </div>
      <div class="last-row">
        <p class="description">{{ produit.description }}</p>
        <button mat-raised-button (click)="onClickBuy(produit)">
          Acheter maintenant !
        </button>
      </div>
      @if (auth.role === "ROLE_ADMINISTRATEUR") {
      <div class="button-row">
        <a [routerLink]="['/edit-produit', produit.id]">
          <mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="edit"
          ></mat-icon>
        </a>
        <!-- TODO CHANGER LIEN -->
        <a href="">
          <mat-icon
            class="text-danger"
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="delete"
          ></mat-icon>
        </a>
      </div>
      }
    </div>
  </div>
  } @empty {
  <p>Il n'y a pas de produits.</p>
  }
</div>
