<h1>{{ produitEdite ? "Éditer le produit" : "Ajouter un produit" }}</h1>

<div class="form-container">
  <h2>Changer les infos du produit</h2>
  <form [formGroup]="formulaire" (ngSubmit)="onAddProduit()">
    <mat-form-field class="item">
      <mat-label>Nom</mat-label>
      <input matInput placeholder="Marque + modèle" formControlName="nom" />
      @if (formulaire.get('nom')?.hasError("required")) {
      <mat-error>Le nom est requis</mat-error>
      } @else if (formulaire.get('nom')?.hasError("minlength")) {
      <mat-error>Le nom doit contenir au minimum 3 caractères</mat-error>
      } @else if (formulaire.get('nom')?.hasError("maxlength")) {
      <mat-error>Le nom doit contenir au maximum 21 caractères</mat-error>
      }
    </mat-form-field>

    <mat-form-field class="item">
      <mat-label>Code</mat-label>
      <input matInput placeholder="MT07-57" formControlName="code" />
      <mat-error>Le code est requis</mat-error>
    </mat-form-field>

    <mat-form-field class="item">
      <mat-label>Description</mat-label>
      <textarea
        matInput
        placeholder="Description du produit."
        formControlName="description"
      ></textarea>
    </mat-form-field>

    <mat-form-field class="item">
      <mat-label>Prix</mat-label>
      <input
        matInput
        placeholder="7 799.99 €"
        type="number"
        formControlName="prix"
      />

      @if (formulaire.get('prix')?.hasError("required")) {
      <mat-error>Le prix est requis</mat-error>
      } @else if (formulaire.get('prix')?.hasError("min")) {
      <mat-error>Le prix doit être supérieur à 10 €</mat-error>
      }
    </mat-form-field>

    <mat-form-field class="item">
      <mat-label>Etat du produit :</mat-label>
      <mat-select formControlName="etat" [compareWith]="compareId">
        @for (etat of etats; track $index) {
        <mat-option [value]="etat">{{ etat.nom }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field class="item">
      <mat-label>Etiquettes</mat-label>
      <mat-select
        formControlName="etiquettes"
        multiple
        [compareWith]="compareId"
      >
        @for (etiquette of etiquettes; track etiquette) {
        <mat-option [value]="etiquette">{{ etiquette.nom }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <button mat-raised-button type="submit" class="button-custom">
      {{ produitEdite ? "Éditer le produit" : "Ajouter produit" }}
      <mat-icon
        aria-hidden="false"
        aria-label="Example home icon"
        [fontIcon]="produitEdite ? 'edit' : 'add'"
      ></mat-icon>
    </button>
  </form>
</div>
