/* You can add global styles to this file, and also import other style files */
/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
  background-color: #d3d3d3;
  padding: 0px 0px 80px 0px;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.app-title {
  text-align: center;
  margin-bottom: 80px;
}

.my-custom-snackbar {
  margin: 0 !important;
  position: absolute;
  right: 25px;
  top: 60px;
}

/* NOTIFICATION SNACKBAR STYLE */
.mat-mdc-snack-bar-container {
  &.valid .mat-mdc-snackbar-surface {
    background-color: greenyellow;
  }

  &.error .mat-mdc-snackbar-surface {
    background-color: rgb(208, 0, 0);
    color: white;
  }

  &.warning .mat-mdc-snackbar-surface {
    background-color: #ff8242;
  }

  &.info .mat-mdc-snackbar-surface {
    background-color: #4675c6;
    color: white;
  }
}
